name: dotfiles-check

on:
  push:
  pull_request:

jobs:
  checks:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install zsh
        run: sudo apt-get update && sudo apt-get install -y zsh
      - name: Run syntax checks
        run: ./.bin/check.sh
